.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

    .hero-section {
      margin-top: 80px; /* Offset for fixed navbar */
      background-color: #f8f9fa;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
