.container {
    max-width: 1200px;
    margin-left: 50px;
    margin-top: 20px;
}

.customButton {
    background-color: #65558F;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
}

.customButton:hover {
    background-color: #4D3D7E;
}

.hoverCard {
    transition: all 0.3s ease;
}

.hoverCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}