.container {
display: flex;
    max-width: 1200px;
    /* Increase max-width to accommodate sidebar and form */
    margin-left: 50px;
}

.formContainer {
    width: 80%;
    /* height: 368px; */
    /* align-self: center; */
}

.row {
    margin: auto;
    /* align-self: center; */
}

.form {
    border: 1px solid #ced4da;
    padding: 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    width: 100%;

}

.formControl {
    border: 1px solid #ced4da;
    font-size: 1.25rem;
}

.formControl:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.submitButton {
    width: 50%;
    background-color: #65558F;
    margin-left: 45%;
}

.submitButton:hover {
    background-color: #4D3D7E;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.microphone {
    width: 50px;
    font-size: 16px;
    background-color: #65558F;
}

.microphone:hover {
    background-color: #4D3D7E;
}

.postCard {
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
}

.postCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.postMetadata {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: #666;
}

.replies {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #eee;
}

.reply {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #f8f9fa;
  border-radius: 4px;
}