/* client/pages/[export]/export.module.css */

.container {
  background-color: #ffffff;
  overflow-x: hidden;
  padding: 0 15px;
  margin-left: 50px;
}

.button {
  background-color: #65558f;
  color: white;
  padding: 8px;
  border-radius: 12px;
  text-align: center;
  margin-top: 12px;
}

.button:hover {
  background-color: #4d3d7e;
}
