/* client/pages/[export]/export.module.css */

.container {
  max-width: 1200px;
  margin-left: 50px;
  padding: 12px;
}

.button {
  background-color: #65558F;
  color: white;
  padding: 8px;
  border-radius: 12px;
  text-align: center;
  margin-top: 12px;
}

.button:hover {
  background-color: #4D3D7E;
}