.container {
    padding: 0;
    margin-left: 50px;
}

.activeLink {
    background-color: #f3f4f6;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.alert {
    margin-top: 1rem;
}

.heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.card {
margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cardHover {
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition */
}

.cardHover:hover {
    transform: scale(1.02); /* Slightly scale up the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
    cursor: pointer; /* Change cursor to indicate clickability */
}

.addButton {
    margin-top: 1rem;
    background-color: #8660df;
    color: #ffffff;
    border: none;
}

.addButton:hover {
    background-color:#af9cdd;
}

.viewMoreBtn {
  transition: all 0.3s ease;
  border-radius: 8px;
  padding: 8px 16px;
}

.viewMoreBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.customBtn {
    /* The `!important` rules are needed to override React Bootstrap's default button styles */
  border-color: #65558F !important; 
  color: #65558F !important;
  padding: 8px 16px;
  border-radius: 8px;
}

.customBtn:hover {
  background-color: transparent !important;
}

.viewMoreLink {
  color: #65558F;
  text-decoration: none;
  font-size: 0.95rem;
}

.viewMoreLink:hover {
  color: #65558F;
  text-decoration: none;
}
